@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Sansita:700i');

/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
/*@import url('https://fonts.googleapis.com/css?family=Sansita:700i');*/

/*===========================================================*/
    /* Global Styles */
/*===========================================================*/
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}


h3 {
    color: #fff;
    font-family: 'Sansita', sans-serif;
}

h4 {
    color: #fff;
}

/* CTA buttons styling */
.btn-primary {
    /*background-color: rgba(255, 0, 0, 0.75);*/
    background-color: rgba(183, 3, 26, 1);
    border:0;
    margin-bottom:25px;
    font-family: 'Sansita', sans-serif;
}

/* CTA buttons hover effect */
.btn-primary:hover {
    background-color: rgba(255, 0, 0, 10);
}

/*===========================================================*/
    /* Local Styles */
/*===========================================================*/
/* set background image and tint */
.hmpg-outer-wrapper {
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)
            ),
            /*url(../img/hmpgbgimg.jpeg) no-repeat center center scroll;*/
            url(../img/background-img-homepage.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

/* center content on home page */
.hmpg-inner-wrapper {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

 /*set background image and tint*/
.survey-content-wrapper {
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)
            ),
            url(../img/background-img-survey.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

#logo-small-img {
    margin-top:100px;
}

.userinput-wrapper {
    margin-top:30px;
    /*margin-bottom:30px;*/
    padding:15px 15px 15px 15px;
    background-image: url(../img/form-background-img.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:5px 5px 0 0;
}

.redbar-styleonly {
    height:10px;
    background-color: rgba(255, 0, 0, 0.75);
}

.question-main-wrapper {
    /*padding:20px;*/
    /*overflow-x: hidden;*/
    overflow-y: auto;
    max-height: 100vh;
}

@media screen and (min-width: 480px) {
    .question-main-wrapper {
        width:50%;
        margin:auto;
        /*make it so div scrolls up instead of extending below main image*/
        /*overflow-x: hidden;*/
        /*TODO*/overflow-y: auto;
        max-height: 100vh;
    }
}

/*hide scroll bar*/
::-webkit-scrollbar {
    display: none;
}

.form-control {
    height:35px;
}

.question-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    padding:15px 15px 15px 15px;
    margin-top:5px;
    margin-bottom:5px;
}

/*question number style*/
.badge {
    background-color: rgba(139,195,74,10);
    font-size:25px;
    width:70px;
    height:35px;
    font-family: 'Sansita', sans-serif;
}

input, select, textarea {
    background-color: rgba(255,255,255,10);
    height:35px;
    border:0;
    margin-bottom:15px;
    margin-top:15px;
}

.alert-modal-content {
    background-image: url(../img/dangerimg.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Sansita', sans-serif;
}

.result-modal-content {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Sansita', sans-serif;
}

.result-modal-body {
    position: relative;
    height:450px;
}

#matchImg {
    width:250px; /* This value will depend on what size you want for your loading image, let's say it's 50px */
    height: 380px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-190px; /* This needs to be half of the height */
    margin-left:-125px; /* This needs to be half of the width */
    padding-top:60px;
}

.modalbutton {
    background-color: rgba(255, 0, 0, 10);
    border:0;
    font-family: 'Sansita', sans-serif;
}

.surveyh3 {
    color: #000;
    font-family: 'Sansita', sans-serif;
}

.surveyh4 {
    color: #000;
    font-family: 'Sansita', sans-serif;
}

a {
    color: #fff;
}


